<h1><%= @department.name %></h1>
<hr />
<p>Edit the the information below do?</p>
<br />
<%= link_to 'Edit department', edit_department_path(@department) %>
<br />
<%= link_to 'Delete department', @department, method: :delete %>






